body{background-color: #48C1FA}
table{background-color: #4D8CE3;width:1000px;margin-left: auto;margin-right: auto;}
th{font-family: arial;font-size: 100px;color: red;}
td{font-family: arial;font-size: 25px;color: white;border-style: solid;}
.menu{font-family: arial;font-size: 35px;color: black;text-align: center;}
.imagen{height: 1200px;width: 1250px}
.psg{height: 250px;width: 250px}
.blanco{height: 250px;width: 250px}
.larga{height: 250px;width: 250px}
.manga{height: 250px;width: 250px}
.logo{height: 50px;width: 50px}
img{height: 250px;width: 250px}